#root {
  min-height: 100vh;
  margin: 0 auto;
  box-sizing: border-box;
}

.toolPosition {
  position: fixed;
  top: 10px;
  left: 50%;

  transform: translateX(-50%);

  z-index: 1;
}

.stage {
  background-color: blanchedalmond;
}
